{% extends 'base.html' %} {% block content %}

<div class="container" style="width: 75%">
    <div class="row">
        <div class="container" style="text-align: center;margin-top: 3%;"><h1 style="font-size: 6.5em;">FACET</h1></div>
        <div class="jumbotron" style="padding: 15%;padding-top: 5%;padding-bottom: 10%">
            <form action="{% url 'export_script' %}" method="post" name="export_script" >
                {% csrf_token %} 
                <h2 class="col-sm-10" style="margin-top: 0;font-size: 3.5em">ส่งออกสคริป</h2>
                <button class="btn btn-primary col-sm-2" style="font-size: 1.5em"> 
                    <span class="glyphicon glyphicon-upload" style="margin-right:5px;" ></span> ส่งออก
                </button>
            </form>
            <hr style="width: 100%;margin-top: 12%;border-color: black;">
            <br>
            <form action="{% url 'import_script' %}" method="POST" enctype="multipart/form-data" \
                class="form-horizontal" accept-charset="UTF-8" name='import_script'>
                {% csrf_token %}
                <h2 class="col-sm-10" style="margin-top: 0;font-size: 3.5em">นำเข้าสคริป</h2>
                <div class="form-group" >
                    <label for="name" class="col-md-3 col-sm-3 col-xs-12 control-label" style="margin-top: 5%">ไฟล์: </label>
                    <div class="col-md-8">
                        <input type="file" name="script_file" id="script_file" required="True" class="form-control" style="margin-top: 10%">
                    </div>                    
                </div>
                <div class="form-group">                    
                    <div class="col-md-3 col-sm-3 col-xs-12 col-md-offset-3" style="margin-bottom:10px;">
                        <button class="btn btn-primary"> <span class="glyphicon glyphicon-upload" style="margin-right:5px;"></span>อัพโหลด </button>
                    </div> 
                </div>
            </form>
            <hr style="width: 100%;margin-top: 6%;border-color: black;">
            <form action="{% url 'reset_teacher' %}" method="post" name="reset_teacher" >
                {% csrf_token %} 
                <h2 class="col-sm-11" style="margin-top: 0;font-size: 3.5em">รีเซ็ตการวัดผล</h2>
                <button class="btn btn-danger col-sm-1" style="font-size: 1.5em"> 
                    <span class="glyphicon glyphicon-remove-sign" style="margin-right:5px;" ></span> 
                </button>
            </form>
        </div>
        {% if chart_facet.levels.min != 0 and chart_facet.levels.max != 0 %}
            <div id="container" style="min-width: 30%; height: 100%; margin: 0 auto;padding-top: 5%;"></div>
        {% endif %}
        <div class="panel panel-default">
            <div class="panel-heading" data-toggle="collapse" href="#table_teacher">
                <h4 class="panel-title">
                    <a style="font-size: 2em">ตารางรายชื่ออาจารย์และผลการประเมิน</a>
                </h4>
            </div>
        </div>
        <div id="table_teacher" class="panel-collapse collapse in">
            <div class="table100 ver5 m-b-110">
                <table class="table table-hover" style="text-align: center" data-vertable="ver5" >
                    <thead>
                    <tr class="row100 head" >
                        {% for col_name in col_de%}
                        <th style="text-align: center"><h4 style="font-size: 1.6em">{{col_name}}</h4></t>
                        {% endfor %}
                    </tr>
                    </thead>
                    <tbody>
                        {% for data in teachers%}
                        <tr class="row100">
                            {% with forloop.counter as loop %}
                            {% for i in data%}
                                {% if forloop.counter == 1 %}
                                <td class="column100 column{{ forloop.counter|add:2 }}" \
                                data-column="column{{ forloop.counter|add:2 }}"><h4 style="font-size: 1.3em;text-align: left">{{i}}</h4></td>
                                {% else %}
                                    <td class="column100 column{{ forloop.counter|add:2 }}" data-column="column{{ forloop.counter|add:2 }}"><h4 style="font-size: 1.3em;">{{i}}</h4></td>
                                {% endif %}
                            {% endfor %}
                            {% endwith %}
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        
        {% block javascript %} 
            <script type="text/javascript">
                var minus_normal = "{{chart_facet.levels.minus_normal}}"
                var minus_sd1 = "{{chart_facet.levels.minus_sd1}}"
                var min = "{{chart_facet.levels.min}}"
                var cal_med = "{{chart_facet.levels.cal_med}}"
                var max = "{{chart_facet.levels.max}}"
                var plus_sd1 = "{{chart_facet.levels.plus_sd1}}"
                var plus_normal = "{{chart_facet.levels.plus_normal}}"

                var c_normal = "{{chart_facet.count.normal}}"
                var c_minus_sd1 = "{{chart_facet.count.minus_sd1}}"
                var c_plus_sd1 = "{{chart_facet.count.plus_sd1}}"
                var c_minus_sd05 = "{{chart_facet.count.minus_sd05}}"
                var c_plus_sd05 = "{{chart_facet.count.plus_sd05}}"
                var c_safe = "{{chart_facet.count.safe}}"

                Highcharts.chart('container', {
                chart: {
                    type: 'area'
                },
                title: {
                    text: 'Chart การแบ่ง SAFE ZONE จากผลการประเมิน'
                },
                annotations: [{
                    labelOptions: {
                    backgroundColor: 'rgba(0,0,0,0.7)',
                    verticalAlign: 'top'
                    },
                    labels: [{
                        point: {
                            xAxis: 0,
                            yAxis: 0,
                            x: 3,
                            y: 0
                        },
                        text: 'normal : '+c_normal+' คน'
                    }
                    ,{
                        point: {
                            xAxis: 0,
                            yAxis: 0,
                            x: 2,
                            y: 1.5
                        },
                        text: '-1SD : '+c_minus_sd1+' คน'
                    },{
                        point: {
                            xAxis: 0,
                            yAxis: 0,
                            x: 4,
                            y: 1.5
                        },
                        text: '+1SD : '+c_plus_sd1+' คน'
                    },{
                        point: {
                            xAxis: 0,
                            yAxis: 0,
                            x: 2.5,
                            y: 2.5
                        },
                        text: '-0.5SD : '+c_minus_sd05+' คน'
                    },{
                        point: {
                            xAxis: 0,
                            yAxis: 0,
                            x: 3.5,
                            y: 2.5
                        },
                        text: '+0.5SD : '+c_plus_sd05+' คน'
                    },{
                        point: {
                            xAxis: 0,
                            yAxis: 0,
                            x: 3,
                            y: 3.5
                        },
                        text: 'SAFE ZONE : '+c_safe+' คน'
                    }]
                }],
                legend: {
                    layout: 'vertical',
                    align: 'right',
                    verticalAlign: 'top',
                    x: 0,
                    y: 60,
                    floating: true,
                    borderWidth: 1,
                    backgroundColor: (Highcharts.theme && Highcharts.theme.legendBackgroundColor) || '#FFFFFF'
                },
                xAxis: {
                    categories: [minus_normal, minus_sd1, min, cal_med, max, plus_sd1, plus_normal],
                },
                yAxis: {
                    title: {
                        text: ''
                    },
                },
                tooltip: {
                    formatter: function () {
                        return '<b>' + this.series.name + '</b><br/>' + this.x;
                    }
                },
                plotOptions: {
                    area: {
                        fillOpacity: 0.5
                    }
                },
                credits: {
                    enabled: false
                },
                series: [{
                    name: 'SAFE ZONE',
                    data: [null, null, 4, 4, 4, null, null]
                }, {
                    name: '-0.5SD',
                    data: [null, null, 3, 3, null, null, null]
                }, {
                    name: '+0.5SD',
                    data: [null, null, null, 3, 3, null, null]
                }, {
                    name: '-1SD',
                    data: [null, 2, 2, 2, null, null, null]
                }, {
                    name: '+1SD',
                    data: [null, null, null, 2, 2, 2,null]
                }, {
                    name: 'normal',
                    data: [1, 1, 1, 1, 1, 1, 1]
                }]
                });
            </script>
        {% endblock %}

    </div>
</div>
{% endblock %}