{% extends 'base.html' %} {% block content %}
<div class="container" style="width: 100%;padding: 5%;padding-top: 0">
    <div class="row" >
        <div class="container" style="text-align: center;margin-top: 3%;"><h1 style="font-size: 6.5em;margin-bottom: 30px;">จัดสอบโปสเตอร์</h1></div>
        <div class="jumbotron col-sm-2" style="padding: 0;"></div>
        <div class="jumbotron col-sm-4" style="padding: 0;">
            <button data-toggle="modal" data-target="#gen_poster" \
            class="btn btn-success" style="width: 100%;height: 80px;"><h2 style="font-size: 3em">สร้างตาราง</h2></button>
        </div>
        <div class="jumbotron col-sm-4" style="padding: 0;">
            <button data-toggle="modal" data-target="#reset_poster" \
            class="btn btn-danger" style="width: 100%;height: 80px;"><h2 style="font-size: 3em">ล้างตาราง</h2></button>
        </div>
        <div class="jumbotron col-sm-2" style="padding: 0;"></div>
    </div>

    <div class="row">
        <div class="col-sm-6">
            <div class="panel panel-default">
                <div class="panel-heading" data-toggle="collapse" href="#upload_file" style="background: #ffffff;text-align: center">
                    <h4 class="panel-title" style="color: #353b48;font-size: 1.5em">
                        <label style="font-size: 1.3em"><u>นำเข้าไฟล์</u></label>
                        <label style="font-size: 1.3em">ตารางสอบ</label>
                    </h4>
                </div>
            </div>
            <div id="upload_file" class="panel-collapse collapse">
                <form action="{% url 'upload_poster' %}" method="POST" enctype="multipart/form-data" \
                    class="form-horizontal" >
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="name" class="col-md-3 col-sm-3 col-xs-12 control-label">ไฟล์: </label>
                        <div class="col-md-8">
                            <input type="file" name="csv_file" id="csv_file" required="True" class="form-control">
                        </div>                    
                    </div>
                    <div class="form-group">                    
                        <div class="col-md-3 col-sm-3 col-xs-12 col-md-offset-3" style="margin-bottom:10px;">
                            <button class="btn btn-primary"> <span class="glyphicon glyphicon-upload" style="margin-right:5px;"></span>นำเข้า </button>
                        </div> 
                    </div>
                </form>
            </div>
        </div>
        <div class="col-sm-6">
            <div id="export_panel" class="panel panel-default">
                <div class="panel-heading" data-toggle="collapse" href="#export_file" style="background: #ffffff;text-align: center">
                    <h4 class="panel-title" style="color: #353b48;font-size: 1.5em">
                        <label style="font-size: 1.3em"><u>ส่งออกไฟล์</u></label>
                        <label style="font-size: 1.3em">ตารางสอบ</label>
                    </h4>
                </div>
            </div>
            <div id="export_file" class="panel-collapse collapse">
                <form action="{% url 'export_poster' %}" method="POST" enctype="multipart/form-data" \
                    class="form-horizontal" accept-charset="UTF-8">
                    {% csrf_token %}
                    <div class="form-group">
                        <div class="col-md-4"></div>
                        <div class="col-md-4">
                            <button class="btn btn-primary"> <h3 style="margin: 0"><span class="glyphicon glyphicon-export" style="margin-right:5px;font-size: .5em"></span>ส่งออกไฟล์</h3> </button>
                        </div> 
                    </div>
                </form>
            </div>
        </div>
    </div>
    {% if date != '' %}
        <div class="panel panel-default">
            <div class="panel-heading" data-toggle="collapse" href="#table_poster">
                <h4 class="panel-title">
                    <a style="font-size: 2em">ตารางสอบโปสเตอร์วันที่ {{date}}</a>
                </h4>
            </div>
        </div>
        <div id="table_poster" class="panel-collapse collapse in">
            <div class="table100 ver5 m-b-110">
                <table class="table table-hover" style="text-align: center" data-vertable="ver5" >
                    <thead>
                        <label style="margin-left:30%;">SAFE ZONE MIN : </label><label style="margin-left:20px;color: green">{{safezone.min}}</label>
                        <label style="margin-left:5%;">SAFE ZONE MAX : </label><label style="margin-left:20px;color: red">{{safezone.max}}</label>

                        <tr class="row100 head" style="font-size: 1.5em">
                            <th class="column100 column2" data-column="column2">ลำดับ</th>
                            <th class="column100 column3" data-column="column3">รายชื่อโปรเจค</th>
                            <th class="column100 column4" data-column="column4">อาจารย์คนที่ 1</th>
                            <th class="column100 column5" data-column="column5">อาจารย์คนที่ 2</th>
                            <th class="column100 column6" data-column="column6">อาจารย์คนที่ 3</th>
                            <th class="column100 column7" data-column="column7">ค่าเฉลี่ยความเข้มงวด</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for obj in result %} 
                            <tr class="row100" style="font-size: 1.1em">
                                <td class=" column100 column2" data-column="column2">{{obj.id}}</td>
                                <td class=" column100 column3" data-column="column3" style="text-align: left">{{obj.proj_name}}</td>
                                <td class=" column100 column4" data-column="column4" style="text-align: left">{{obj.teacher1}}</td>
                                <td class=" column100 column5" data-column="column5" style="text-align: left">{{obj.teacher2}}</td>
                                <td class=" column100 column6" data-column="column6" style="text-align: left">{{obj.teacher3}}</td>
                                <td class=" column100 column7" data-column="column7">{{obj.avg}}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    {% endif %}

    <!-- Modal -->
    <div class="modal fade" id="gen_poster" role="dialog">
        <div class="modal-dialog modal-md">
            <!-- Modal content-->
            <div class="modal-content">
                <form action="{% url 'generate_poster' %}" method="POST" id="generate_poster" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <label class="modal-title">สร้างกำหนดการโปสเตอร์</label>
                    </div>
                    <div class="modal-body">
                        <div class="form-group" >
                            {% if proj2_null %}
                                <h2 for="name">โปรดจัดตารางสอบโปรเจคของเทอม 2 ก่อนทำการจัดตารางสอบโปสเตอร์ </h2>
                            {% else %}
                                <h2 for="name">เลือกวันที่: </h2>
                                <input type="text" class="form-control" name="date_selected" style="font-size: 2em"/>
                            {% endif %}
                        </div>
                    </div>
                    {% block javascript %} 
                        <script type="text/javascript">
                            $(document).ready(function(){
                                $('input[name="date_selected"]').datepicker({
                                    startDate: new Date(),
                                    singleDatePicker: true,
                                    showDropdowns: true,
                                    format: 'dd/mm/yyyy'
                                    }).datepicker("setDate", new Date());
                            });
                        </script>
                    {% endblock %}
                    <div class="modal-footer">
                        <div class="form-group">
                            {% if proj2_null %}
                            <button type="button" class="close btn btn-primary" data-dismiss="modal">รับทราบ </button>
                            {% else %}
                            <button type="submit" name="gen_post" value=1 class="btn btn-primary"> 
                                <span class="glyphicon glyphicon-plus" style="margin-right:5px;"></span>สร้าง </button>
                            {% endif %}
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

     <!-- Modal -->
     <div class="modal fade" id="reset_poster" role="dialog">
        <div class="modal-dialog modal-md">
            <!-- Modal content-->
            <div class="modal-content">
                <form action="{% url 'manage_poster' %}" method="POST" id="manage_poster" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <label class="modal-title">ล้างตารางสอบโปสเตอร์</label>
                    </div>
                    <div class="modal-body">
                        <div class="form-group" >
                            <h2 for="name">ท่านแน่ใจหรือไม่ที่ต้องการล้างตารางสอบ </h2>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <div class="form-group">
                            <button type="submit" name="re_post" value=1 form="manage_poster" class="btn btn-danger"> 
                                <span class="glyphicon glyphicon-remove" style="margin-right:5px;"></span>ล้างข้อมูล </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>


</div>
{% endblock %}