a{
    font-size: 1.3em;
}
label{
    font-size: 2.5em;
}
td{
    font-size: 1.5em;
}
span{
    font-size: 1.2em;
}
.jumbotron p{
    font-size: 2.5em !important;
}
option{
    font-size: 1.6em;
}
h1,h2,h3,h4,p,a,label,td,span,option,input{
	font-family: "Fontcraft";
}
@font-face{
	font-family: "Fontcraft";
	src: url('../fonts/Fontcraft ver 2.03.otf') format('opentype');
}