{% extends 'base.html' %} {% block content %}

<div class="container" style="width: 100%;padding: 10%;padding-top: 0">
        <div class="row" style="width: 100%;">
        <div class="container" style="text-align: center;margin-top: 3%;"><h1 style="font-size: 6.5em;">ผลคะแนน ภาคเรียนที่ {{proj_act}} ปีการศึกษา {{this_year}}</h1></div>
        <div class="jumbotron" style="background: rgb(209, 209, 209);">
            <h3 style="font-size: 3em">ชื่อโปรเจค : {{proj_name}}</h3>
            <h4 style="font-size: 3em">คะแนนโปรเจค</h4>
            <div class="table100 ver5 m-b-110">
                <table class="table table-hover" style="text-align: center" data-vertable="ver5">
                    <thead>
                    <tr class="row100 head" style="background-color: slategray;color: aliceblue">
                        {% for col_name in col_de%}
                        <th class="column100 column{{ forloop.counter|add:2 }}" \
                        data-column="column{{ forloop.counter|add:2 }}" style="text-align: center;font-size: 2em">{{col_name}}</t>
                        {% endfor %}
                    </tr>
                    </thead>
                    <tbody>
                        {% for data in result%}
                        <tr class="row100">
                            {% for i in data%}
                                {% if forloop.counter == 1 %}
                                <td class="column100 column{{ forloop.counter|add:2 }}" \
                                data-column="column{{ forloop.counter|add:2 }}"><h4 style="font-size: 1.2em;text-align: left">{{i}}</h4></td>
                                {% else %}
                                    <td class="column100 column{{ forloop.counter|add:2 }}" data-column="column{{ forloop.counter|add:2 }}"><h4 style="font-size: 1.2em;">{{i}}</h4></td>
                                {% endif %}
                            {% endfor %}
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            {% if proj_act == 2 %}
            <h4 style="font-size: 3em">คะแนนโปสเตอร์</h4>
            <div class="table100 ver5 m-b-110">
                <table class="table table-hover" style="text-align: center" data-vertable="ver5">
                    <thead>
                    <tr class="row100 head" style="background-color: slategray;color: aliceblue">
                        {% for col_name in col_de1%}
                        <th class="column100 column{{ forloop.counter|add:2 }}" \
                            data-column="column{{ forloop.counter|add:2 }}" style="text-align: center;font-size: 2em">{{col_name}}</t>
                        {% endfor %}
                    </tr>
                    </thead>
                    <tbody>
                        {% for data in result1%}
                        <tr class="row100">
                            {% for i in data%}
                                {% if forloop.counter == 1 %}
                                <td class="column100 column{{ forloop.counter|add:2 }}" \
                                data-column="column{{ forloop.counter|add:2 }}"><h4 style="font-size: 1.2em;text-align: left">{{i}}</h4></td>
                                {% else %}
                                    <td class="column100 column{{ forloop.counter|add:2 }}" data-column="column{{ forloop.counter|add:2 }}"><h4 style="font-size: 1.2em;">{{i}}</h4></td>
                                {% endif %}
                            {% endfor %}
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            {% endif %}
            <h4 style="font-size: 3em;margin-top: 10%">คะแนนอาจารย์ที่ปรึกษา/อาจารย์ที่ปรึกษาร่วม</h4>
            <div class="table100 ver5 m-b-110">
                <table class="table table-hover" style="text-align: center" data-vertable="ver5">
                    <thead>
                    <tr class="row100 head" style="background-color: slategray;color: aliceblue">
                        {% for col_name in col_de2%}
                        <th class="column100 column{{ forloop.counter|add:2 }}" \
                            data-column="column{{ forloop.counter|add:2 }}" style="text-align: center;font-size: 2em">{{col_name}}</t>
                        {% endfor %}
                    </tr>
                    </thead>
                    <tbody>
                        {% for data in result2%}
                        <tr class="row100">
                            {% for i in data%}
                                {% if forloop.counter == 1 %}
                                <td class="column100 column{{ forloop.counter|add:2 }}" \
                                data-column="column{{ forloop.counter|add:2 }}"><h4 style="font-size: 1.2em;text-align: left">{{i}}</h4></td>
                                {% else %}
                                    <td class="column100 column{{ forloop.counter|add:2 }}" data-column="column{{ forloop.counter|add:2 }}"><h4 style="font-size: 1.2em;">{{i}}</h4></td>
                                {% endif %}
                            {% endfor %}
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}