{% extends 'base.html' %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="container" style="text-align: center;margin-top: 3%;"><h1 style="font-size: 6.5em;">จัดการโครงงาน</h1></div>
        
        <div class="jumbotron col-sm-4" style="padding: 0">
            <button type="submit" data-toggle="collapse" data-target="#add_proj"\
            class="btn btn-success" style="width: 100%;height: 80px;"><h2 style="font-size: 3em">เพิ่มโครงงาน</h2></button>
        </div>
        <div class="jumbotron col-sm-4" style="padding: 0;">
            <form action="{% url 'manage_proj' %}" method="post" id="manage_proj">
                {% csrf_token %}
                <button type="submit" name="mproj" value="mproj_edit" form="manage_proj"\
                class="btn btn-warning" style="width: 100%;height: 80px;"><h2 style="font-size: 3em">แก้ไขโครงงาน</h2></button>
            </form>
        </div>
        <div class="jumbotron col-sm-4" style="padding: 0">
            <button type="submit" data-toggle="collapse" data-target="#del_proj"\
            class="btn btn-danger" style="width: 100%;height: 80px;"><h2 style="font-size: 3em">ลบโครงงาน</h2></button>
        </div>

        <table class="table">
            <thead>
                <tr>
                <th style="width: 33%;text-align: center;padding-bottom: 2%">
                    <div class="collapse" id="add_proj" style="padding: 0;">
                        <form action="{% url 'manage_proj' %}" method="post" id="manage_proj">
                            {% csrf_token %}
                            <button type="submit" name="mproj" value="mproj_add"  form="manage_proj"\
                            class="btn btn-info" style="width: 80%;height: 50px;"><h2 style="font-size: 1.7em;margin: 0">เพิ่มโครงงานเดี่ยว</h2></button>      
                        </form>
                        <button data-toggle="modal" data-target="#add_mulproj"\
                            class="btn btn-info" style="width: 80%;height: 50px;margin-top: 2%"><h2 style="font-size: 1.7em;margin: 0">นำเข้าหลายโครงงาน</h2></button>
                    </div>
                </th>
                <th style="width: 33%"></th>
                <th style="width: 33%;text-align: center;padding-bottom: 2%">
                    <div class="collapse" id="del_proj" style="padding: 0;">
                        <form action="{% url 'manage_proj' %}" method="post" id="manage_proj">
                            {% csrf_token %}
                            <button type="submit" name="mproj" value="mproj_del"  form="manage_proj"\
                            class="btn btn-info" style="width: 80%;height: 50px;"><h2 style="font-size: 1.7em;margin: 0">ลบโครงงานเดี่ยว</h2></button>      
                        </form>
                        <button data-toggle="modal" data-target="#del_mulproj"\
                            class="btn btn-info" style="width: 80%;height: 50px;margin-top: 2%"><h2 style="font-size: 1.7em;margin: 0">ลบหลายโครงงาน</h2></button>
                    </div>
                </th>
                </tr>
            </thead>
        </table>


        <!-- Modal -->
        <div class="modal fade" id="del_mulproj" role="dialog">
            <div class="modal-dialog modal-md">
                <!-- Modal content-->
                <div class="modal-content">
                    <form action="{% url 'manage_proj' %}" method="POST" enctype="multipart/form-data" \
                    class="form-horizontal" >
                        {% csrf_token %}
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h1 class="modal-title">ลบหลายโครงงาน</h1>
                        </div>
                        <div class="modal-body">
                            <div class="form-group">
                                <label for="name" class="col-md-3 col-sm-3 col-xs-12 control-label">เลือกเทอม: </label>
                                <div class="col-md-8">
                                    <select class="form-control" class="select" style="width: 100%;height: 100%;margin-top: 3%;" name="del_semester">
                                        <option selected="selected" disabled hidden style="font-size: 2em">เทอม</option>
                                        <option value="1" style="font-size: 2em">1</option>
                                        <option value="2" style="font-size: 2em">2</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <div class="form-group">
                                <button type="submit" class="btn btn-danger" style="margin-right: 10%;"> 
                                    <span class="glyphicon glyphicon-remove" style="margin-right:5px;"></span> ยืนยันการลบ</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>



        
        
        <!-- Modal -->
        <div class="modal fade" id="add_mulproj" role="dialog">
            <div class="modal-dialog modal-md">
                <!-- Modal content-->
                <div class="modal-content">
                    <form action="{% url 'manage_proj' %}" method="POST" enctype="multipart/form-data" \
                    class="form-horizontal" >
                        {% csrf_token %}
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h1 class="modal-title">อัพโหลดรายการโปรเจค</h1>
                        </div>
                        <div class="modal-body">
                            <div class="form-group">
                                <div class="row">
                                <label for="name" class="col-md-3 control-label">เลือกเทอม: </label>
                                <div class="col-md-9">
                                    <select class="form-control" class="select" style="width: 30%;height: 100%;margin-top: 3%;" name="add_semester">
                                        <option selected="selected" disabled hidden style="font-size: 2em">เทอม</option>
                                        <option value="1" style="font-size: 2em">1</option>
                                        <option value="2" style="font-size: 2em">2</option>
                                    </select>
                                </div>
                                </div>
                                <div class="row">
                                    <label for="name" class="col-md-3 control-label">ไฟล์: </label>
                                    <div class="col-md-8"  style="margin-top: 2%;">
                                        <input type="file" name="csv_file" id="csv_file" required="True" class="form-control">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <div class="form-group">
                                <button type="submit" class="btn btn-primary" style="margin-right: 10%;"> 
                                    <span class="glyphicon glyphicon-upload" style="margin-right:5px;"></span>อัพโหลด </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>
    
</div>
<div class="jumbotron" style="padding-left: 5%;padding-right: 5%;margin-top: 30px;background: white">
    <div class="table100 ver5 m-b-110">
        <table class="table table-hover" style="text-align: center" data-vertable="ver5" >
            <thead>
            <tr class="row100 head" style="background-color: slategray;color: aliceblue">
                {% for col_name in col_result%}
                <th class="column100 column{{ forloop.counter|add:2 }}" data-column="column{{ forloop.counter|add:2 }}" \
                style="text-align: center;font-size: 2.5em;">{{col_name}}</th>
                {% endfor %}
            </tr>
            </thead>
            <tbody>
                {% for data in list_proj%}
                <tr class="row100">
                    {% for i in data%}
                        {% if forloop.counter == 3 or forloop.counter == 4 or forloop.counter == 6 or forloop.counter == 7 %}
                        <td class="column100 column{{ forloop.counter|add:2 }}" \
                        data-column="column{{ forloop.counter|add:2 }}"><h4 style="font-size: 1.3em;text-align: left">{{i}}</h4></td>
                        {% else %}
                            <td class="column100 column{{ forloop.counter|add:2 }}" data-column="column{{ forloop.counter|add:2 }}"><h4 style="font-size: 1.3em;">{{i}}</h4></td>
                        {% endif %}
                    {% endfor %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="del_modal" role="dialog">
        <div class="modal-dialog modal-md">
            <div class="modal-content">
                <form action="{% url 'manage_proj' %}" method="post" id="manage_proj">
                    {% csrf_token %} 
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title" style="font-size: 3em;">ยืนยันการลบโครงงาน</h4>
                    </div>
                    <div class="modal-body">
                        <h2>ท่านแน่ใจหรือไม่ที่จะลบโครงงานดังกล่าว.</h2>
                    </div>
                    <div class="modal-footer">
                        <button id="project_del" name="project_del" value="" type="submit" class="btn btn-success" style="font-size: 1.7em;">ยืนยัน</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% block javascript %}
<script>
    $(document).on("click", ".open-Dialog", function () {
        var myId = $(this).data('id');
        $(".modal-footer #project_del").val( myId );
    });
</script>
{% endblock %}


{% endblock %}