{% extends 'base.html' %} {% block content %}

<div class="container">
    <div class="row">
        <div class="container" style="text-align: center;margin-top: 3%;"><h1 style="font-size: 6.5em;">คะแนนโปรเจค</h1></div>
        <div class="jumbotron">
            <h4 style="font-size: 3em">เลือกโปรเจคที่ต้องการให้คะแนน</h4>
            <form action="{% url 'scoreproj' %}" method="post" id="scoreproj">
                {% csrf_token %} 
                <div class="form-group">
                    <label for="sel1"  >รายการโปรเจค:</label>
                    <select class="form-control" id="data_proj" name="data_proj" size="8" >
                        <option selected="selected" disabled hidden>เลือกโปรเจค</option>
                        {% for name in Projectset %}
                            <option value="{{name.proj_name_th}}">{{name.proj_name_th}}</option>
                        {% endfor %}
                    </select>
                </div>

            </form>
        </div>
        
        <button id="submit_proj" name="submit_proj" type="submit" class="btn btn-success" form="scoreproj"><h4 style="font-size: 2em">เลือกโปรเจค</h4></button>
        <div class="col-xs-10">
        </div>
    </div>
</div>
{% endblock %}